<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cinematik"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">


        <activity
            android:name="com.example.android.cinematik.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:exported="true">
<!--            <meta-data-->
<!--                android:name="com.google.android.geo.API_KEY"-->
<!--                android:value="AIzaSyBd2PeejorrtDYwK8qXx7gBps3-k0PzHo8" />-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.android.cinematik.DetailMovieActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
        </activity>

        <activity
            android:name="com.example.android.cinematik.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.cinematik.MainActivity" />
        </activity>

        <provider
            android:name="com.example.android.cinematik.data.MoviesContentProvider"
            android:authorities="com.example.android.cinematik"
            android:exported="false" />
    </application>
</manifest>